{% extends 'base.html' %}
{% load static %}
{% block title %}{{ news.title }} - ITGGames{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/news_style.css' %}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="news" data-news-id="{{ news.id }}">
        <div class="path">
        </div>
        <div class="name">
            {{ news.title }}
        </div>
        <div class="news-details">
            <div class="news-collage">
                <div id="imagePreviewContainer" class="image-preview-container">

                </div>

                <div class="thumbnail-container">
                    {% for img in news.multipleimagenews_set.all|dictsort:"sequence" %}
                        <div><img src="{{ img.images.url }}" class="thumbnail" alt="Thumbnail"></div>
                    {% endfor %}
                </div>
            </div>
                <div class="news-short-text">
                    <div class="image">
                        <img src="{{ news.main_image.url }}" alt="{{ news.title }}">
                    </div>
                        <div>
                            <div class="stats">
                            <div class="up">
                                <i class="fa-regular fa-circle-up up-i"></i> <span>{{ news.up }}</span>
                            </div>
                           <div class="down">
                                <i class="fa-regular fa-circle-down down-i"></i> <span>{{ news.down }}</span>
                            </div>
                        </div>
                        <div class="text">
                            <div>
                                <i class="fa-regular fa-eye">&nbsp;</i><span>{{ news.views }}</span>
                            </div>
                            <div>
                                <p class="p-created-date"><span>{{ news.created_date.date }}</span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="description">
                {{ news.text|safe }}
            </div>
        </div>

    </div>
<script>
    const upUrl = "{% url 'up_update_news' %}";
    const downUrl = "{% url 'down_update_news' %}";
    const csrfToken = getCookie('csrftoken');

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script src="{% static 'js/news_index.js' %}"></script>

{% endblock %}