.content {
    padding: 1% 20% 1% 20%;
}
.news {
    background-color: #1E2230FF;
    padding: 5%;
}

.path a {
    font-family: 'Rubik', serif;
    color: white;
    text-decoration: none;
}

.name {
    font-family: 'Rubik', serif;
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.news-details {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5%;
}

.news-collage {
    flex: 2;
    position: relative;
    overflow: hidden;
    margin-right: 2.5%;
}

.image-preview-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}

.image-preview-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail-container {
    display: flex;
    overflow-x: auto; /* Позволяет горизонтальную прокрутку в случае переполнения */
    margin-top: 10px; /* Задайте желаемый отступ сверху */
}

.thumbnail-container div img {
    width: 120px; /* Ширина каждого изображения в полосе */
    height: 90px; /* Высота каждого изображения в полосе (пропорции 4:3) */
    margin-right: 10px; /* Отступ между изображениями */
    cursor: pointer; /* Изменяет курсор при наведении для указания на кликабельность */
}

/* Дополнительные стили для активного выбранного элемента (например, подчеркивание) */
.thumbnail-container img.active {
    border-bottom: 3px solid blue;
}

.news-details .news-short-text {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*grid-row-gap: 10%;*/
    height: 100%;
    width: 100%;
}

.news-details .news-short-text .image {
    width: 100%;
    height: auto;
}

.news-details .news-short-text img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 5%;
}

.fa-circle-up {
    font-size: 36px;
    cursor: pointer;
}

.up span{
    font-size: 36px;
}

.fa-circle-down {
    font-size: 36px;
    cursor: pointer;
}

.down span {
    font-size: 36px;
}

.news-details .news-short-text .text {
    width: 100%;
    font-family: 'Rubik', serif;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

}

.news-details .news-short-text .p-created-date span{
    color: hsl(200 calc(1*100%) 49.4%/1);
}

.description {
    font-family: 'Rubik', serif;
    margin-bottom: 2.5%;
    color: white;
}


@media screen and (max-width: 1024px) {
    .content {
        padding: 1% 10px 0 10px;
    }
    .news-details {
        display: flex;
        flex-direction: column;
    }
    .news-collage {
        position: relative;
        overflow: hidden;
        margin-right: 0;
        margin-bottom: 2.5%;
    }
    .thumbnail-container div img {
        width: 240px; /* Ширина каждого изображения в полосе */
        height: 180px; /* Высота каждого изображения в полосе (пропорции 4:3) */
    }
    .news-details .news-short-text {
        grid-template-columns: repeat(2, 1fr);

    }
    .news-details .game-short-text .image {
    }
    .news-details .news-short-text .stats {
        height: 50%;
    }
    .news-details .news-short-text .text {
        height: 50%;
    }

    .description {
        font-size: 24px;
    }

}
