.content {
    padding: 1% 20% 1% 20%;
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
}

.game {
    background-color: #1E2230FF;
    padding: 5%;
}

.path a {
    font-family: 'Rubik', serif;
    color: white;
    text-decoration: none;
}

.name {
    font-family: 'Rubik', serif;
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-details {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2.5%;

}

.game-collage {
    flex: 2;
    position: relative;
    overflow: hidden;
    margin-right: 2.5%;
}

.preview-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}

.preview-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-preview-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}

.image-preview-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail-container {
    display: flex;
    overflow-x: auto; /* Позволяет горизонтальную прокрутку в случае переполнения */
    margin-top: 10px; /* Задайте желаемый отступ сверху */
}

.thumbnail-container div img {
    width: 120px; /* Ширина каждого изображения в полосе */
    height: 90px; /* Высота каждого изображения в полосе (пропорции 4:3) */
    margin-right: 10px; /* Отступ между изображениями */
    cursor: pointer; /* Изменяет курсор при наведении для указания на кликабельность */
}

/* Дополнительные стили для активного выбранного элемента (например, подчеркивание) */
.thumbnail-container img.active {
    border-bottom: 3px solid blue;
}


.game-details .game-short-description{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.game-details .game-short-description .image {
    width: 100%;
    height: auto;
}

.game-details .game-short-description img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.game-details .game-short-description .text p {
    font-family: 'Rubik', serif;
}

.game-details .game-short-description .p-release_date {
    font-family: 'Rubik', serif;
}
.game-details .game-short-description .p-release_date span{
    color: hsl(200 calc(1*100%) 49.4%/1);
}

.description {
    font-family: 'Rubik', serif;
    margin-bottom: 2.5%;

}

.steam {
    margin-bottom: 2.5%;
}

.steam-iframe {
    width: 100%;
    height: 190px;
}
.decs {
    font-family: 'Rubik', serif;
}

.system-requirements {
    border: 1px solid #1b1b1b;
    padding: 10px;
}

.system {

}
.requirements {
    display: flex;
}

.system-info {

}
.min-requirements {
    flex: 1;
}

.rec-requirements {
    flex: 1;
    border: 1px solid #1b1b1b;
    padding: 5px;
}

@media screen and (max-width: 1024px) {
    .content {
        padding: 1% 10px 0 10px;
    }
    .game-details {
        display: flex;
        flex-direction: column;
    }
    .game-collage {
        position: relative;
        overflow: hidden;
        margin-right: 0;
        margin-bottom: 2.5%;
    }
    .thumbnail-container div img {
        width: 240px; /* Ширина каждого изображения в полосе */
        height: 180px; /* Высота каждого изображения в полосе (пропорции 4:3) */
    }
    .game-details .game-short-description {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin-bottom: 2.5%;

    }
    .game-details .game-short-description .image {
        flex: 2;
        width: 100%;
        height: auto;
        margin-right: 10px;
    }
    .game-details .game-short-description .text {
        flex: 2;
        width: 100%;
        height: auto;
        font-size: 18px;
    }
    .steam {
        width: 100%;
        height: 190px;
    }
    .system-buttons {
        display: flex;
    }
    .system-button {
        flex: 1;
        padding: 10px;
        font-size: 18px;
    }
}
