.content {
    padding: 1% 20% 1% 20%;
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;

}

.hello-button {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background: url(https://res.cloudinary.com/damqsjjsn/image/upload/v1641672204/landscapewLight_wdbhno.png)
}

.news {
    margin: 5%;
    padding: 5%;
    background-color: #1E2230FF;
    box-shadow: 0 0 10px rgba(30, 34, 48, 0.8);
}


.title {
    font-family: 'Rubik', serif;
    text-align: center;
    font-size: 2em;
    padding: 1%;
    color: white;
}

.text-image {
    display: flex;
    margin-bottom: 2.5%;
}

.text {
    flex: 70%;
    max-width: 70%;
    font-family: 'Rubik', serif;
    font-size: 1.2em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.image {
    flex: 30%;
    padding-left: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
.fa-circle-up {
    font-size: 24px;
    cursor: pointer;
}

.up span{
    font-size: 24px;
}

.fa-circle-down {
    font-size: 24px;
    cursor: pointer;
}

.down span {
    font-size: 24px;
}

.container a {
    font-size: 1rem;
    padding: 1rem 3rem;
    color: #f4f4f4;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    overflow: hidden;
}

.btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.views {
    text-align: right;
}

.created_date {
    color: hsl(200 calc(1*100%) 49.4%/1);
    text-align: right;
}

.sort-controls {
    background-color: black;
    margin: 0 25% 0 25%;
    border-radius: .375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sort-controls-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin: 0;
    background-color: rgba(52, 53, 65, 1);
    border-radius: .375rem .375rem 0 0;

}

.sort-controls label {
    text-align: left;
}

.sort-controls-selects {
    padding: 20px 10px 20px 10px;
}

.sort-controls-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .content {
        padding: 1% 10% 1% 10%;
    }
    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        text-align: center;
    }
    .views {
        text-align: center;
    }
    .created_date {
        text-align: center;
    }
    .sort-controls {
        margin: 0 15% 0 15%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 1% 5% 1% 5%;
    }

    .sort-controls {
        margin: 0 5% 0 5%;
    }

    .text-image {
        display: block;
        margin-bottom: 5%;
    }

    .text {
        max-width: 100%;
        margin-bottom: 2.5%;

    }

    .image {
        padding-left: 0;
        margin-bottom: 2.5%;

    }
    .fa-circle-up {
        font-size: 36px;
    }
    .up span{
        font-size: 36px;
    }
    .fa-circle-down {
        font-size: 36px;
    }
    .down span {
        font-size: 36px;
    }
}

